<!DOCTYPE html>
<html lang="en">


{% include head.html %}

<body>
    {{ content }}

 <center><p>
 We help founders successfully commercialize new products. We do this by forming alliances with early customers who have the necessary capital, distribution, and customer understandings to prove <a href="https://en.wikipedia.org/wiki/Product/market_fit">product-market fit</a>.</p></center>   
    
 <center><h3><a href="mailto:samir@tritonbridge.com?Subject=Hello" target="_top">Contact Us</a></h3></center>    
</body>

</html>
